@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');

*{
    margin: 0;
    padding: 0;    
}

/* __________box com logo da proz________________ */
.caixinha-logo{
    text-align: center;
    position: relative;
    background: #ffffff;
    width: 190px;
    height: 90px;
    margin-left: 140px;
    box-shadow: 5px 5px 6px rgba(255, 166, 0, 0.109);
    font-size: 17px;
    border-radius: 0px 0px 20px 20px;
    padding: 10px;
}

.caixinha-logo h1{
    top: 10px;
    color: #CCAEED;
    position: relative;
    font-family: 'Dancing Script', cursive;
}

.corzinha {
  background: orange;
  padding: 200px;
}

.container-conter h1{
    margin-left: 110px;
    padding-top: 200px;
    font-size: 80px;
    font-family: suez one,serif;
}

.container-conter h2{
    margin-left: 110px;
}

.container-conter h6{
    font-size: 40px;
    margin-left: 110px;
}

.container-conter{
    height: 800px;
    width: 100%;
    background: #3F0D82;
    top: 0px;
}

.container_card {
    display: flex;
    align-content: center;
    justify-content: center;
    
    padding: 30px 0px;
    gap: 40px;
    height: 520px;
    width: 100%;
    border-radius: 10px;
    z-index: 1;
    top: -200px;
    position: relative;
  }

.card {
    position: relative;
    width: 380px;
    height: 510px;
    border-radius: 10px;
    overflow: hidden;
    
  }
  
  .card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(119, 20, 146, 0.897), rgba(183, 28, 152, 0));
    opacity: 0.8;
    transition: opacity 1.0s ease;
  }
  
  .card:hover::before {
    opacity: 0;
  }


  .card img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: transform 0.3s ease;
    z-index: -1;
  }
  
  .card:hover img {
    transform: scale(1.1);
  }
  
#tipo-bullying-div{
  display: none;
}
/* ________________conteudo_____________________ */
.container-conteudo{
    
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-content: center;
    /* justify-content: center; */
    flex-wrap: nowrap;
    align-items: center;
    margin: 30px;
    padding: 70px;
}


.btn-saiba button{
    display: relative;
    width: 190px;
    height: 90px;
    background: rgb(112, 19, 131);
    border-radius: 20px;
    z-index: -1;
    color: #ffffff  ;
}

#tipo-bullying li{
    font-size: 26px;

}

#intro-text{
    font-size: 26px;
}

.top-button{
    width: 50px;
    height: 50px;
    position: fixed;
    
    bottom: 50px;
    right: 50px;
    z-index: 4;
}

.top-button button{
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    background-color: rgb(149, 89, 155);
    border-radius: 20px;
    border: 0;
}

.header{
    top: 0;
    position: absolute;
    height: 100px;
    width: 80%;
    display: flex;
    align-items: center;
    transition: height 0.3s ease;
    z-index: 90;
}

.header.recolhido {
    height: 0px;
    transform: translateY(-100%);
  }


.header img{
    
    margin-top: 0px;
    height: 80px ;
    /* background: white; */
    border-radius: 20px;
}
.menu a{
  text-decoration: none;
  color: #3F0D82;
  font-size: 1.1em;
}

.menu li{
    color: #3F0D82;
    font-size: 1.3em;
}

.menu ul{
    box-shadow: 5px 5px 6px rgba(255, 166, 0, 0.109);
    position: relative;
    background-color: #ffffff;
    width: 560px;
    height: 55px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 90px;
    margin-left: 40px;
    list-style: none;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    left: 250px;
}




.footer img{
    height: 600px;
}

/*Footer   ------------------------*/

footer{
    margin-bottom: 0px;
    position: relative;
    background-color: #ffffff;
    height: 300px;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;   
}

.container-footer{
   
}

footer ul{
    align-items: center;
    list-style: none;
}

footer a{
    color: black;
    text-decoration: none;
}

#footer-copyright {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: #f2f2f2;
}
 

.instagram {
 margin-top: 2em;
}

.contato{
    margin-top: 0px;
}

.contato h3,.navigation h3, .social_media h3{ 
    font-size: 25px;
}

.contato li,.navigation li{
    font-size: 20px;
}

.navigation{
    margin-top: 17px;
}

#logo-proz{
    width: 200px;
}


/*-----------media--------*/

  
  .social-media {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .social-media li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .social-media li:last-child {
    margin-right: 0;
  }
  
  .social-media a {
    color: #000000;
    font-size: 20px;
  }
  
  .fa-instagram,
  .fa-tiktok {
    font-size: 24px;
  }




  /* ------------carrosel--------------- */
  @keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }
  
.meio {
    max-width: 37.5rem;
    margin: 0 auto;
    padding: 0 1.25rem;
    font-family: 'Lato', sans-serif;
  }
  
  .meio * {
    box-sizing: border-box;
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
  }
  
  .meio *::-webkit-scrollbar {
    width: 0;
  }
  
  .meio *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .meio *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  .meio * {
    -ms-overflow-style: none;
  }
  
  .meio ol,.meio li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .carousel {
    position: relative;
    padding-top: 75%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
  }
  
  .carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
  .carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    background-color: #f99;
    counter-increment: item;
  }
  .carousel__snapper img{
    object-fit: fill;
    height: 100%;
    width: 100%;
    

  }
  .carousel__slide:nth-child(even) {
    background-color: #99f;
  }
  
  .carousel__slide:before {
    content: counter(item);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-40%,70px);
    color: #fff;
    font-size: 2em;
  }
  
  .carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
  }
  
  @media (hover: hover) {
    .carousel__snapper {
      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  
    .carousel__slide:last-child .carousel__snapper {
      animation-name: tostart, snap;
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    .meio .carousel__snapper {
      animation-name: none;
    }
  }
  
  .carousel:hover .carousel__snapper,
  .carousel:focus-within .meio .carousel__snapper {
    animation-name: none;
  }
  
  .carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
  }
  
  .carousel__navigation-list,
  .carousel__navigation-item {
    display: inline-block;
  }
  
  .carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #333;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
  }
  
  .carousel::before,
  .carousel::after,
  .carousel__prev,
  .carousel__next {
    position: absolute;
    top: 0;
    margin-top: 37.5%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
  }
  
  .carousel::before,
  .carousel__prev {
    left: -1rem;
  }
  
  .carousel::after,
  .carousel__next {
    right: -1rem;
  }
  
  .carousel::before,
  .carousel::after {
    content: '';
    z-index: 1;
    background-color: #333;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
  }
  
  .carousel::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
  }
  
  .carousel::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
  }
  